<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ShoppingMall.Dao.mapper.CarMapper">
  
  <insert id="addCar" >
	     insert into shoppingCar(id,user_id,pro_id,goodscount) 
	     values(shoppingcar_seq.nextval,#{userId},#{id},1)
  </insert>
  
 <select id="findAll" resultMap="cardetailsMap">
       select p.id pro_id ,p.title pro_title,p.price pro_price,c.id car_id,c.goodscount car_goodscount 
       from pro p inner join shoppingcar c on c.pro_id=p.id where user_id=#{id}
  </select>
   
  <resultMap type="Car" id="cardetailsMap">
     <id property="id" column="car_id"/>
     <result property="goodscount" column="car_goodscount"/>
     <association property="commoditys" javaType="Commodity">
         <id property="id" column="pro_id"/>
          <result property="title" column="pro_title"/>
          <result property="price" column="pro_price"/>
     </association>
  </resultMap>
  
  <delete id="delCar">
         delete from shoppingcar where id = #{id}
  </delete>
</mapper>